<footer class="mdl-mini-footer">
    <div class="mdl-mini-footer__left-section">
        <p>
            {{ site.description }}
        </p>
        <ul class="mdl-mini-footer__link-list">
            <li>
                <a href="{{ site.baseurl }}/">Home</a>
            </li>
            {% for page in site.pages %}
            {% if page.title %}
            <li>
                <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        <p>Donate ETH Key: 0x6C9f808d1cB681c7c2D1A06a10381bb78D1B4116</p>
    </div>
    <div class="mdl-mini-footer__right-section">
        <p>ether4good@gmail.com</p>
        <p><a href="https://www.reddit.com/user/EtherForGood/" target="blank">/u/EtherForGood</a></p>
        <p><a href="https://github.com/EtherForGood" target="blank">GitHub</a></p>
    </div>
</footer>